<ion-header class="header" >
  <ion-grid class="header__grid" >
    <ion-row class="header__row">
      <ion-col class="header__col1" size="3" >

      </ion-col>
      <ion-col class="header__col2" size="6">

      </ion-col>
      <ion-col class="header__col3" size="3">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<!-- cuerpo de los servicios-->
<ion-content>
  <div>
    <ion-grid class="search">

      <!-- portada de imagen 3 pasos-->
      <ion-row class="search__cover">
        <ion-col class="search__wall" size="12" >
        </ion-col>
      </ion-row>

      <!-- cajas de busqueda-->
      <ion-row class="search__frame">

        <ion-col class="search__step-one" size="1">
        </ion-col>

        <ion-col class="search__box" size="8" >
        </ion-col>

        <ion-col class="search__green-icon" size="2">
        </ion-col>
      </ion-row>

      <ion-row class="search__frame">

        <ion-col class="search__one-info" size="1">
        </ion-col>
        <ion-col class="search__box" size="10">
        </ion-col>
      </ion-row>

      <!--divisor previo los servicios-->
      <ion-row class="search__cover">
        <ion-col class="search__wall search__wall--small" size="12">
        </ion-col>
      </ion-row>

      <ion-row class="search__cover">
        <ion-col class="search__wall search__wall--small" size="12">
        </ion-col>
      </ion-row>

      <!--grilla de los servicios-->

    </ion-grid>
  </div>
</ion-content>
