<ion-app style="background: lightgreen">
<app-bdb-header></app-bdb-header>

<!-- cuerpo de los servicios-->
<ion-content style="overflow-y: hidden">
  <div style="height:100vh;">
    <ion-grid class="search" style="height:100vh;">

      <!-- portada de imagen 3 pasos-->
      <ion-row class="search__cover">
        <ion-col class="search__wall" size="12" >
        </ion-col>
      </ion-row>

      <!-- cajas de busqueda-->
      <!--app-bdb-search-office></app-bdb-search-office-->

      <!--divisor previo los servicios-->
      <!--ion-row class="search__cover">
        <ion-col class="search__wall search__wall--small" size="12">
        </ion-col>
      </ion-row>

      <ion-row class="search__cover">
        <ion-col class="search__wall search__wall--small" size="12">
        </ion-col>
      </ion-row-->

      <!--grilla de los servicios-->
      <div style="height: 60px">
      <app-bdb-services-option></app-bdb-services-option>
      </div>

    </ion-grid>
  </div>
</ion-content>

</ion-app>
