<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <!--p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p-->
        <p>redirigiendo a formulario<a routerLink="/formulario"> Go form</a></p>
        <p>redirigiendo a formulario<a routerLink="/landing"> Go landing </a></p>
        <p>redirigiendo a Padre habla con Hijo<a routerLink="/talk-parent-child"> Go Father&son </a></p>
    </div>

</ion-content>
